@{
    ViewData["Title"] = "Inicio";
}


<style>
    .centered-container {
        margin-top: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh; 
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<div class="centered-container">
    <img src="/images/Fondo_Principal.png" />
</div>